<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hoc Lai Xe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        body{
            background: darkcyan;
        }
        .GetQuestion  {
            background: gold;
            color: red;
            width: 200px;
            height: 30px;
            border: 2px solid #cc0000;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            
        }
        h3{
            color: red;
        }
    </style>
</head>
<body>
        <div class="content">
                <div class="insert">
                <h3 align="center">SERVER HOME</h3>
                <form  method="POST" align = "center" >
                <table width="400" border="0" align="center">
                    <tr>
                         <td > 
                            <a href="/sign/9">
                                <button class="GetQuestion" name="btn_questions" type="button">Biển báo cấm</button>
                            </a>
                        </td>
                    </tr>                    
                    
                    <tr>
                        <td >
                            <a href="/sign/10">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Biển báo hiệu lệnh</button>
                            </a>
                        </td>
                    </tr> 

                    <tr>
                        <td >
                            <a href="/sign/11">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Vạch kẻ đường</button>
                            </a>
                        </td>
                    </tr> 

                    <tr>
                        <td >
                            <a href="/sign/12">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Biển báo phụ</button>
                            </a>
                        </td>
                    </tr> 

                    <tr>
                        <td >
                            <a href="/sign/13">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Biển báo chỉ dẫn</button>
                            </a>
                        </td>
                    </tr> 

                    <tr>
                        <td >
                            <a href="/sign/14">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Biển báo nguy hiểm</button>
                            </a>
                        </td>
                    </tr> 

                    <tr>
                        <td >
                            <a href="/sign/15">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Đường cao tốc</button>
                            </a>
                        </td>
                    </tr> 
                    <tr>
                        <td >
                            <a href="/sign/16">
                                <button  class="GetQuestion" name="btn_full_question" type="button">Tuyến đường đối ngoại</button>
                            </a>
                        </td>
                    </tr>
  
                </table>
                
                </form>
                </div>
            </div>
   
    
</body>
</html>